
/* Basic Page Structure */
body {
  background-color: #003082;
  margin: 0;
  padding: 0;
  padding-top: 120px; /* Adjust based on navbar height */
}

.page {
  padding: 1rem;
}

.page h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
  text-align: left;
}

.page p {
  line-height: 1.5;
  text-align: left;
  text-indent: 30px;
}

.public-sans {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.public-sans-bold {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}